@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

:root {
  --text-color: #6c757d;
  --secondary-color: #123123;
  --font-primary: #ffffff;
  --font-secondary: #79b8f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover{
    color: var(--text-color);
    text-decoration: none;
}

.container {
  max-width: 1270px;
}



